<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/index::head"></head>

<body>
	<div th:replace="layout/index::header"></div>
	<nav th:replace="layout/index::navbar"></nav>

	<div class="container">

		<div class="row border">
			<div class="col-md-12">
			</div>
		</div>
		<div class="row border" style="height: 600px">
			<!--filters-->
			<div class="col-md-3 border">
				<br>

				<div class="accordion" id="accordionExample">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h2 class="mb-0">
								<button class="btn btn-link" type="button" data-toggle="collapse"
									data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Datos Geoespaciales WGS-84
								</button>
							</h2>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
							data-parent="#accordionExample">
							<div class="card-body">
								<form>
									<div class="form-group">
										<label for="exampleFormControlInput1">Coordenadas Este</label>
										<input type="text" class="form-control" id="exampleFormControlInput1"
											th:field="${coordenadas.latitud}">
										<label for="exampleFormControlInput1">Coordenadas Oeste</label>
										<input type="text" class="form-control" id="exampleFormControlInput1"
											th:field="${coordenadas.longitud}">
									</div>

									<button type="button" class="btn btn-success">Submit</button>
								</form>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h2 class="mb-0">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
									data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Documentos
								</button>
							</h2>
						</div>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
							data-parent="#accordionExample">
							<div class="card-body">
								<div class="form-group">
									<label for="exampleFormControlSelect2">Select Documents</label>
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>Descripcion</th>
												<th>Descripcion</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="#">1020302302</a></td>
												<td>Descripcion de la propiedad</td>

											</tr>
											<tr>
												<td><a href="#">1020302301</a></td>
												<td>Descripcion de la propiedad</td>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
				
				<p th:text="${founded}" style="display: none;"></p>
					<div th:if="${geoJsonData == '' }">
						<p>No se encontraron Datos Geoespaciales Registrados</p>
					</div>
			</div>
			<!--map-->
			<div class="col-md-6 border">
				
				<br>


				<div id="mapid" style="width: 530px; height: 530px;">
					
				</div>






			</div>
			<!--info-->
			<div class="col-md-3 border">

				<br>
				<h3>Detalles Catastrales</h3>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Detalle</th>


						</tr>
					</thead>
					<tbody>


						</tr>
						<tr>
							<th scope="row">Nro Catastral</th>
							<td th:text="${catastro.numeroCatastral}">003423-23423</td>

						</tr>
						<tr>
							<th scope="row">Valor Terreno</th>
							<td th:text="${catastro.valorTerreno}">34400.3</td>

						</tr>
						<tr>
							<th scope="row">Valor Total</th>
							<td th:text="${catastro.valorTotal}">34400.3</td>

						</tr>
						<tr>
							<th scope="row">Año Construccion</th>
							<td th:text="${catastro.anioConstruccion}">34400.3</td>

						</tr>
						<tr>
							<th scope="row">Area Total m2</th>
							<td th:text="${catastro.metrosCuadrados}">34400.3</td>

						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<div class="row border">
			<div class="col-md-12">

				<br>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th> Propiedad</th>
							<th>Descripcion</th>
							<th>Direccion</th>
							<th>Tipo</th>
							<th>Estado</th>
							<th>Registro</th>
							<th>Actualizacion</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a th:text="${propiedad.id}" href="#">1020302302</a></td>
							<td th:text="${propiedad.descripcion}">Descripcion de la propiedad</td>
							<td th:text="${propiedad.direccion}">Jr. Amancaes 234 </td>
							<td th:text="${propiedad.tipoPropiedad}">Tipo</td>
							<td th:text="${propiedad.estado}">En tramite</td>
							<td th:text="${propiedad.updateOn}">2021-02-02</td>
							<td th:text="${propiedad.createOn}">2021-02-02</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>

	</div>


	<!-- footer -->
	<footer th:replace="layout/index::footer">

	</footer>

</body>
<script th:inline="javascript">
	/*<![CDATA[*/
	var geoJsonData = [[${geoJsonData}]];
	var lat = [[${coordenadas.latitud}]] ?? -71.257532;
	var long = [[${coordenadas.longitud}]] ?? -14.970590;
	console.log(geoJsonData);
	console.log(lat, long);
        // Utiliza geoJsonData para renderizar tu mapa aquí
	/*]]>*/
</script>
<script>

	var wmsLayer = L.tileLayer.wms('http://localhost:7777/geoserver/curso/wms?service=WMS&', {
		//layers: 'CUSCO_PREDIO_RURAL',
		layers: 'datos_geoespaciales',
		transparent: true,
		format: 'image/png',


	});
	var googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
		maxZoom: 20,
		subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
	});

	var google = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
		maxZoom: 20,
		subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
	})
	console.log(wmsLayer)
	var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	});

	var baseMaps = {
		"OpenStreetMap": osm,
		"<b>Google Satellite</b>": google,
		"Google Hybrid": googleHybrid
	};
	var overlayMaps = {
		"Predios": wmsLayer
	};
	var map = L.map('mapid', {
		center: [lat, long],
		zoom: 15,
		layers: [googleHybrid, google, osm, wmsLayer]

	});

	var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(map);

	L.marker([long, lat]).addTo(map)
		.bindPopup('')
		.openPopup();

	L.geoJSON(JSON.parse(geoJsonData)).addTo(map);



	var popup = L.popup();

	map.panTo(new L.LatLng(long, lat));

	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(map);
	}

	map.on('click', onMapClick);

</script>

</html>